<!DOCTYPE html>
    <head>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Village Green West - The Art of Better Living">
        <meta name="google-site-verification" content="6bHLnqFFQ6EueFFSqsoQFrqXcxOjIgEdQRJCXJX3AKs" />
        <meta name="msvalidate.01" content="E95D4B22FE47F7B2AC8806B27278C1DB" />

         <title>Village Green West - 245 West 14th Street</title>


        <link rel="stylesheet" href="stylesheets/app.css">
        <link rel="stylesheet" href="stylesheets/desktop.css">
        <link rel="canonical" href="http://www.245w14.com/">


        <link href="javascripts/lightbox/css/lightbox.css" rel="stylesheet" />


        <script src="javascripts/vendor/custom.modernizr.js"></script>

         <script src="javascripts/lightbox/js/jquery-1.10.2.min.js"></script>

        <script src="javascripts/lightbox/js/lightbox-2.6.min.js"></script>

        <script>
            if (($(window).width() < 500) && (document.location.pathname == '/')) {
              document.location = "/mobile";
            }

            if (($(window).width() > 500) && ($(window).width() < 900) && (document.location.pathname == '/')) {
              document.location = "/home";
            }
        </script>

    <g:plusone size="medium"></g:plusone>
    <script type="text/javascript">
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47474601-2', '245w14.com');
      ga('send', 'pageview');

    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-42656340-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>


    </head>
    <body style="height:800px;">
        
        <br/>
        <a href="/home">
            <div id="splash_div" style="text-align:center;">
              <img style="height:600px;" class="cent" src="images/245_home_v02.gif"/>
            </div>
        </a>
        <br/>
        <br/>
     <script>
            document.write('<script src=' +
                    ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
                    '.js><\/script>')
        </script>


        <script src="javascripts/foundation/foundation.js"></script>

        <script src="javascripts/foundation/foundation.abide.js"></script>

        <script src="javascripts/foundation/foundation.alerts.js"></script>

        <script src="javascripts/foundation/foundation.clearing.js"></script>

        <script src="javascripts/foundation/foundation.cookie.js"></script>

        <script src="javascripts/foundation/foundation.dropdown.js"></script>

        <script src="javascripts/foundation/foundation.forms.js"></script>

        <script src="javascripts/foundation/foundation.interchange.js"></script>

        <script src="javascripts/foundation/foundation.joyride.js"></script>

        <script src="javascripts/foundation/foundation.magellan.js"></script>

        <script src="javascripts/foundation/foundation.orbit.js"></script>

        <script src="javascripts/foundation/foundation.placeholder.js"></script>

        <script src="javascripts/foundation/foundation.reveal.js"></script>

        <script src="javascripts/foundation/foundation.section.js"></script>

        <script src="javascripts/foundation/foundation.tooltips.js"></script>

        <script src="javascripts/foundation/foundation.topbar.js"></script>

    <script>

        $(document).ready(function() {

        jQuery.fn.center = function () {
          this.css("position","absolute");
          this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) +
                                                $(window).scrollTop()) + "px");
          this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) +
                                                $(window).scrollLeft()) + "px");
          return this;
        }

    $("#splash_div").center();

        });
    </script>
    <!-- Google Code for Remarketing Tag -->
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 995321836;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/995321836/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>
    
    </body>

    
</html>