
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>245 West 14th</title>


        <link rel="stylesheet" href="stylesheets/app.css">
         <link rel="stylesheet" href="stylesheets/mobile.css">
         <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/9c63ad8b-0542-46ff-9c1d-b98c849ab9eb.css"/>
         <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/9c63ad8b-0542-46ff-9c1d-b98c849ab9eb.css"/>


        <script src="javascripts/vendor/custom.modernizr.js"></script>

    </head>
    <body>
        <header>
            <div class="row" style="padding-top:5px; padding-bottom:5px;">
                <div class="small-5 columns">
                    <img style="max-width:130px;" src="images/Logo.gif"/>
                </div>
                <div class="small-7 columns">
                    <h2 class="head">The Art of<br/> Better Living</h2>
                    <p style="line-height:1.2em;font-size:8pt;">Another downtown landmark<br>
                        by <strong>alfa</strong> development &trade; and the
                        Namer Organization</p>
                </div>
            </div>
        </header>
        <section id='main-content'>
            <div class="row">
                <div class="small-12 columns">
                    <div class="section-container vertical-tabs" data-section="vertical-tabs" data-options="deep_linking: true">
                        <section>
                            <div style="position:relative;">
                              <p class="title main-nav" data-section-title><a href="#building">The Building</a></p>
                            </div>
                            <div class="content" data-section-content data-slug="building">
                                <ul data-orbit data-options="timer:false;slide_number:false;bullets:false;">
                                    <li><img class="white-border" src="images/Building.jpg" /></li>
                                    <!-- <li><img class="white-border" src="images/Building2.jpg" /></li>
                                    <li><img class="white-border" src="images/Building3.jpg" /></li> -->
                                </ul>
                                <p>
                                    At the crossroads of three Manhattan neighborhoods,
                                    Village Green West inhabits a place
                                    where the aesthetic of the past meets the
                                    efficiency of the future.
                                </p>
                                <p class="collapse"><b>x</b> close</p>
                            </div>
                        </section>
                        <section>
                          <div style="position:relative;">
                            <p class="title main-nav" data-section-title><a href="#residences">Residences</a></p>
                          </div>
                            <div class="content" data-section-content data-slug="residences">
                                <ul data-orbit data-options="timer:false;slide_number:false;bullets:true;">
                                    <li><img class="white-border" src="images/Crops/Residences.jpg" /></li>
                                    <li><img class="white-border" src="images/Crops/Kitchens.jpg" /></li>
                                    <li><img class="white-border" src="images/Crops/Bathrooms.jpg" /></li>
                                </ul>
                                <p>
                                    Interiors engage the senses, with wide plank
                                    European oak flooring, custom paneled doors,
                                    crown moldings throughout, and black steel
                                    framed windows. For more info see <a id="fact_link" href="/mobile#fact">fact sheet.</a>
                                </p>
                                <p class="collapse"><b>x</b> close</p>
                            </div>
                        </section>
                        <section>
                          <div style="position:relative;">
                            <p class="title main-nav" data-section-title><a href="#ph">Tower and Penthouse</a></p>
                          </div>
                            <div class="content" data-section-content data-slug="ph">
                                <ul data-orbit data-options="timer:false;slide_number:false;bullets:false;">
                                    <li><img class="white-border" src="images/Crops/Penthouse.jpg" /></li>
                                    <!-- <li><img class="white-border" src="images/Penthouses2.jpg" /></li>
                                    <li><img class="white-border" src="images/Penthouses3.jpg" /></li> -->
                                </ul>
                                <p>
                                    Enjoy the exclusivity of your own private floor
                                    with a spectacular 50-foot living room, views to
                                    the South and North from giant floor-to-ceiling
                                    windows, and multiple terraces.
                                </p>
                                <p class="collapse"><b>x</b> close</p>
                            </div>
                        </section>
                        <section>
                          <div style="position:relative;">
                            <p class="title main-nav" data-section-title><a href="#amenities">Amenities</a></p>
                          </div>
                            <div class="content" data-section-content data-slug="amenities">
                                <ul data-orbit data-options="timer:false;slide_number:false;bullets:true;">
                                    <li><img class="white-border" src="images/Crops/Amenities.jpg" /></li>
                                    <li><img class="white-border" src="images/Crops/BetterLiving.jpg" /></li>
                                    <li><img class="white-border" src="images/OpenAir.jpg" /></li>
                                </ul>
                                <p>
                                    The Wellness Center is a first-class amenity
                                    suite with a gym, pool table, and sauna for all
                                    your recharging needs.
                                </p>
                                <p class="collapse"><b>x</b> close</p>
                            </div>
                        </section>
                        <section>
                          <div style="position:relative;">
                            <p class="title main-nav" data-section-title><a href="#neighbor">Neighborhood</a></p>
                          </div>
                            <div class="content" data-section-content data-slug="neighbor">
                                <ul data-orbit data-options="timer:false;bullets:true;slide_number:false;bullets:true;">
                                    <li><img class="white-border" src="images/Crops/Neigh1.jpg" /></li>
                                    <li><img class="white-border" src="images/Crops/Neigh2.jpg" /></li>
                                    <li><img class="white-border" src="images/Crops/Neigh3.jpg" /></li>
                                    <li><img class="white-border" src="images/Crops/Neigh4.jpg" /></li>
                                </ul>
                                <p>
                                    One building at the heart of the crossroads of
                                    the West Village, Chelsea and the Meatpacking
                                    District, Village Green West could not be better
                                    situated in terms of comfort, convenience, and
                                    culture.
                                </p>
                                <p class="collapse"><b>x</b> close</p>
                            </div>
                        </section>
                        <section>
                            <p class="title main-nav" data-section-title><a href="#map">Map</a></p>
                            <div class="content" data-section-content data-slug="map">
                                <img class="white-border constrain" src='images/Map.jpg'>
                                <div>
                                    <h3 STYLE="font-size:12pt">SELECTED NEARBY LOCATIONS</h3>
                                    <div class="row">
                                    <div class='small-6 columns'>
                                            Apple Store</br>
                                            Alexander Mc-Queen</br>
                                            Burberry</br>
                                            The Highline</br>
                                            Kiehls</br>
                                            Pastis</br>
                                            Alison Eighteen
                                    </div>
                                    <div class='small-6 columns'>
                                            Cafe Cluny</br>
                                            Corner Bistro</br>
                                            Spice Market</br>
                                            Marc Jacobs</br>
                                            Chelsea Piers</br>
                                            Theory</br>
                                            Jeffrey
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section id='availability'>
                            <div style="position:relative;">
                              <p class="title main-nav" data-section-title><a href="#avail">Availability</a></p>
                            </div>
                            <div class="content" data-section-content data-slug="avail">
                                <ul data-orbit data-options="timer:false;slide_number:false;bullets:true;">
                                    <li>
                                        <img src="images/Floorplans/245_Flrplns_2C.gif" />
                                        <div class="orbit-caption">
                                            <div class='row collapse'>
                                                <div class='small-8 columns'>
                                                    <p>
                                                        <span class='metric'>Residence</span> T1<br>
                                                        <span class='metric'>Exposures</span> North / South<br>
                                                        <span class='metric'>Int / Ext Sq Ft</span> 3,038 / 551
                                                    </p>
                                                </div>
                                                <div class='small-4 columns'>
                                                    <p>
                                                        <span class='metric'>Price</span> 5M<br>
                                                        <span class='metric'>Cc</span> $1,156<br>
                                                        <span class='metric'>Tax</span> $329
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="images/Floorplans/245_Flrplns_2A-6A.gif" />
                                        <div class="orbit-caption">
                                            <div class='row collapse'>
                                                <div class='small-8 columns'>
                                                    <p>
                                                        <span class='metric'>Residence</span> T2<br>
                                                        <span class='metric'>Exposures</span> North / South<br>
                                                        <span class='metric'>Int / Ext Sq Ft</span> 3,038 / 551
                                                    </p>
                                                </div>
                                                <div class='small-4 columns'>
                                                    <p>
                                                        <span class='metric'>Price</span> 5M<br>
                                                        <span class='metric'>Cc</span> $1,156<br>
                                                        <span class='metric'>Tax</span> $329
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="images/Floorplans/245_Flrplns_2A-6A3.gif" />
                                        <div class="orbit-caption">
                                            <div class='row collapse'>
                                                <div class='small-8 columns'>
                                                    <p>
                                                        <span class='metric'>Residence</span> T3<br>
                                                        <span class='metric'>Exposures</span> North / South<br>
                                                        <span class='metric'>Int / Ext Sq Ft</span> 3,038 / 551
                                                    </p>
                                                </div>
                                                <div class='small-4 columns'>
                                                    <p>
                                                        <span class='metric'>Price</span> 5M<br>
                                                        <span class='metric'>Cc</span> $1,156<br>
                                                        <span class='metric'>Tax</span> $329
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- <li>
                                        <img src="images/Floorplan.jpg" />
                                        <div class="orbit-caption">
                                            <div class='row collapse'>
                                                <div class='small-8 columns'>
                                                    <p>
                                                        <span class='metric'>Residence</span> T4<br>
                                                        <span class='metric'>Exposures</span> North / South<br>
                                                        <span class='metric'>Int / Ext Sq Ft</span> 3,038 / 551
                                                    </p>
                                                </div>
                                                <div class='small-4 columns'>
                                                    <p>
                                                        <span class='metric'>Price</span> 5M<br>
                                                        <span class='metric'>Cc</span> $1,156<br>
                                                        <span class='metric'>Tax</span> $329
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="images/Floorplan.jpg" />
                                        <div class="orbit-caption">
                                            <div class='row collapse'>
                                                <div class='small-8 columns'>
                                                    <p>
                                                        <span class='metric'>Residence</span> T5<br>
                                                        <span class='metric'>Exposures</span> North / South<br>
                                                        <span class='metric'>Int / Ext Sq Ft</span> 3,038 / 551
                                                    </p>
                                                </div>
                                                <div class='small-4 columns'>
                                                    <p>
                                                        <span class='metric'>Price</span> 5M<br>
                                                        <span class='metric'>Cc</span> $1,156<br>
                                                        <span class='metric'>Tax</span> $329
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li> -->
                                </ul>
                                <p class="collapse"><b>x</b> close</p>
                            </div>
                        </section>
                        <section id='fact-sheet'>
                            <p class="title main-nav" data-section-title><a href="#fact">Fact Sheet</a></p>
                            <div class="content" data-section-content data-slug="fact">
                                <p><b>AMENITIES</b></p>
                                <hr>
                                <ul>
                                    <li>24-hour attended lobby</li>
                                    <li>Concierge service</li>
                                    <li>Landscaped rooftop lounge</li>
                                    <li>Attended Wellness Center and fitness room</li>
                                    <li>Spa with integrated sauna, treatment room and shower</li>
                                    <li>Lounge with billiards and coffee bar</li>
                                    <li>Bicycle storage</li>
                                    <li>Private storage units</li>
                                    <li>Targeting LEED Gold Certification</li>
                                </ul>
                                <p><b>RESIDENCE FEATURES</p></b>
                                <hr>
                                <ul>
                                    <li>
                                        High performance Traco U-Value 1” Argon filled, gasketed and 
                                        insulated windows that increase natural light, reduce noise 
                                        pollution and reduce heat gain and loss
                                    </li>
                                    <li>Rich 7” wide plank European Oak floors in smoked white oil finish with FSC certification by LV Wood Floors</li>
                                    <li>Well appointed custom wood base and crown moldings</li>
                                    <li>State-of-the-art , central heating and cooling systems by Daikin allow for zone control and keep temperature constant by 2+/- degrees</li>
                                    <li>Innovative heat recovery system tempers cold air and delivers filtered fresh air year round</li>
                                    <li>Low/no VOC paints, sealants and coatings reduce allergenic and odor based irritants</li>
                                    <li>Environmental Tobacco Smoke (ETS) Control minimizes exposure of residents to airborne pollutants</li>
                                    <li>Bosch Axxis washer and dryer</li>
                                    <li>Filtered drinking water</li>
                                    <li>Wind generated electricity source</li>
                                    <li>LED lighting where possible</li>
                                </ul>
                                <p><b>KITCHEN</p></b>
                                <hr>
                                <ul>
                                    <li>Custom white paneled cabinets with glass upper cabinets by Siematic</li>
                                    <li>Caesarstone countertops in Blizzard White</li>
                                    <li>Lefroy Brooks Mackintosh fixtures</li>
                                    <li>
                                        Energy Star rated appliances include:
                                        <ul>
                                            <li>Smeg cook top</li>
                                            <li>Smeg convection oven with digital LED display</li>
                                            <li>Faber range hood</li>
                                            <li>Fully integrated Liebherr refrigerator</li>
                                            <li>Fully integrated Miele dishwasher</li>
                                            <li>GE Monogram microwave</li>
                                        </ul>
                                    </li>
                                    <li>Designer series under-mounted sink by Elkay</li>
                                    <li>In-Sink-Erator garbage disposal</li>
                                </ul>
                                <p><b>MASTER BATHROOM</p></b>
                                <hr>
                                <ul>
                                    <li>Locally sourced honed marble walls and bathtub surround</li>
                                    <li>Arabescato Carrara marble honed mosaic tile floors with radiant heat</li>
                                    <li>Lefroy Brooks Mackintosh fixtures</li>
                                    <li>Glass enclosed stall showers</li>
                                    <li>Deep soaking bathtubs</li>
                                    <li>Eco-friendly high efficiency Guinevere toilets by TOTO</li>
                                </ul>
                                <p><b>PENTHOUSES</p></b>
                                <hr>
                                <ul>
                                    <li>50’ of living space with expansive north and south views</li>
                                    <li>Keyed elevator</li>
                                    <li>Approximately 1,100 SF of private outdoor space</li>
                                    <li>Smeg speed oven and warming drawer</li>
                                    <li>Full height 143 bottle Liebherr wine refrigerators</li>
                                </ul>
                                <p class="collapse"><b>x</b> close</p>
                            </div>
                        </section>
                        <section>
                            <p class="title main-nav" data-section-title><a href="#team">Team</a></p>
                            <div class="content" data-section-content data-slug="team">
                                <img class="white-border constrain" src='images/Team.jpg'/>
                                <p>
                                    Composed of longtime residents of the downtown Manhattan area, the Alfa Development team has firsthand knowledge of the downtown
                                    experience. Always mindful of how their buildings will become part of the fabric of their community, Alfa’s guiding principle is best articulated
                                    by the theme line: “History, architecture, and sustainability on a human scale.” With an aesthetic attuned to the unique harmonies of
                                    each neighborhood, their buildings combine architecturally contextual exteriors with the most finely appointed modern interiors.
                                </p>
                                <p>
                                    Michael Namer has been developing real estate in downtown New York for the last 30 years. As the founder, principal, and Managing
                                    Member of Alfa Development/Management LLC, Michael brings his attention to detail, construction expertise, and hands-on approach
                                    to real estate development to every project. In the last five years, Alfa Development has produced over $150,000,000 of residential condominium
                                    development — all in downtown Manhattan. Michael Namer and Alfa Development are continuing with their mission to create
                                    more sustainable living experiences with the developments and residences that comprise the Green Collection.
                                </p>
                                <p class="collapse"><b>x</b> close</p>
                            </div>
                        </section>
                        <section>
                            <p class="title main-nav" data-section-title><a href="#press">Press</a></p>
                            <div class="content" data-section-content data-slug="press">
                                <img class="constrain"  src='images/Forbes.jpg' />
                                <p><b>Ultimage Kitchens For The Holidays 11/21/2012</b></p>
                                <img class="constrain"  src='images/New_York_Magazine.jpg' />
                                <p><b>Condo Madness Returns 11/05/2012</b></p>
                                <img class="constrain"  src='images/New_York_Times.jpg' />
                                <p><b>The Take-It-on-Faith Condo 11/18/2012</b></p>
                            </div>
                        </section>
                    </div>
                </div>  
            </div>
        </section>


        <footer>
            <div class="row">
              <div class='small-12 columns'>
                <p style="float:right;font-size:10pt;"><a style="color:black" href="/home"> View Full Site</a></p>
              </div>
            </div>
            <div class='row'>
                <div class='small-12 columns'>
                    <div class="section-container tabs" data-section="tabs">
                        <section>
                          <p class="title" data-section-title><a href="#">Contact</a></p>
                          <div class="content" data-section-content>
                            <h3>Village Green West Sales Gallery</h3>
                            <p>
                                130 West 18th St.<br>
                                New York, NY 10011<br>
                                <br>
                                Tel: (212) 242 0151<br>
                                Fax: (212) 242 0152<br>
                                Email: info@245W14th.com
                            </p>
                            <p class="collapse"><b>x</b> close</p>
                          </div>
                        </section>
                        <section id='register'>
                          <p class="title" data-section-title><a href="#">Register</a></p>
                          <div class="content" data-section-content>
                              <form id="reg_form" action="/mail_to" method="post" class='custom'>
                                  <div class="row">
                                      <div class="large-4 columns">
                                          <label for='fname'>First Name*</label>
                                          <input name='First Name' id='fname' type="text" required>
                                      </div>
                                      <div class="large-4 columns">
                                          <label for='lname'>Last Name*</label>
                                          <input name='Last Name' id='lname' type="text" required>
                                      </div>
                                      <div class="large-4 columns">
                                          <label>Email*</label>
                                          <input id='email' name='Email Address' type="text" required>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="large-4 columns">
                                          <label>Zip Code</label>
                                          <input name='Zip Code' type="text">
                                      </div>
                                      <div class="large-4 columns">
                                          <label>Phone</label>
                                          <input name='Phone Number' type="text">
                                      </div>
                                      <div class="large-4 columns">
                                          <label>Address</label>
                                          <input name='Address' type="text">
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="large-4 columns">
                                          <label>City</label>
                                          <input name='City' type="text">
                                      </div>
                                      <div class="large-4 columns">
                                          <label>State</label>
                                          <input name='State' type="text">
                                      </div>
                                      <div class="large-4 columns">
                                          <label>Country</label>
                                          <input name='Country' type="text">
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="large-3 columns">
                                          <label>WHAT RESIDENCE ARE YOU INTERESED IN?</label>
                                          <select name='Residence'>
                                              <option>Option 1</option>
                                              <option>Option 2</option>
                                              <option>Option 3</option>
                                          </select>
                                      </div>
                                      <div class="large-3 columns">
                                          <label>WHAT IS YOUR PRICE RANGE?</label>
                                          <select name='Price Range'>
                                              <option>Option 1</option>
                                              <option>Option 2</option>
                                              <option>Option 3</option>
                                          </select>
                                      </div>
                                      <div class="large-3 columns">
                                          <label>HOW DID YOU HEAR ABOUT US?</label>
                                          <select name='Heard About Us Through'>
                                              <option>Option 1</option>
                                              <option>Option 2</option>
                                              <option>Option 3</option>
                                          </select>
                                      </div>
                                      <div class="large-3 columns">
                                          <label>WHAT IS THE MOST IMPORTANT FACTOR?</label>
                                          <select name='Most Important Factor'>
                                              <option>Option 1</option>
                                              <option>Option 2</option>
                                              <option>Option 3</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="large-6 columns">
                                          <label>COMMENTS</label>
                                          <textarea></textarea>
                                      </div>
                                      <div class="large-6 columns">
                                         <label for="checkbox1"><input name="Represented By A Broker" type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> ARE YOU REPRESENTED BY A BROKER?</label>
                                      <label for="checkbox2"><input name="Is A Broker" type="checkbox" id="checkbox2" style="display: none;"><span class="custom checked checkbox"></span> ARE YOU A BROKER?</label>
                                      <br/>
                                          <input type='submit' value='SUBMIT'>
                                      </div>
                                  </div>
                              </form>
                              <p class="collapse"><b>x</b> close</p>
                          </div>
                        </section>
                        <section>
                          <p class="title" data-section-title><a href="#">Legal</a></p>
                          <div class="content" data-section-content>
                            <p> 
                                THE COMPLETE OFFERING TERMS ARE IN AN OFFERING PLAN AVAILABLE FROM THE SPONSOR. FILE NO. CD11-0177. SPONSOR:
                                FIRST WEST 21ST STREET LLC 15 WEST 18TH STREET SUITE 200 NEW YORK, NEW YORK 10011.
                            </p>
                            <p>
                                The exact finishes and dimensions may vary in accordance with terms outlined in the offering plan. Actual layouts may vary - please consult
                                the floor plans and offering plan for representative dimensions and layouts of each specific unit.
                            </p>
                            <p>
                                All dimensions are approximate and subject to normal construction variances and tolerances. We reserve the right to make changes due
                                to unforeseen conditions and in accordance with the offering plan. For exact measurements you must hire our own architect or engineer.
                            </p>
                            <img src='images/small-logo.gif' />
                            <p class="collapse"><b>x</b> close</p>
                          </div>
                        </section>
                    </div>
                    <p>Alfa Development &copy; 2013</p>
                </div>
            </div>
        </footer>

        <script>
            document.write('<script src=' +
                    ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
                    '.js><\/script>')
        </script>

        <script src="javascripts/foundation/foundation.js"></script>

        <script src="javascripts/foundation/foundation.abide.js"></script>

        <script src="javascripts/foundation/foundation.alerts.js"></script>

        <script src="javascripts/foundation/foundation.clearing.js"></script>

        <script src="javascripts/foundation/foundation.cookie.js"></script>

        <script src="javascripts/foundation/foundation.dropdown.js"></script>

        <script src="javascripts/foundation/foundation.forms.js"></script>

        <script src="javascripts/foundation/foundation.interchange.js"></script>

        <script src="javascripts/foundation/foundation.joyride.js"></script>

        <script src="javascripts/foundation/foundation.magellan.js"></script>

        <script src="javascripts/foundation/foundation.orbit.js"></script>

        <script src="javascripts/foundation/foundation.placeholder.js"></script>

        <script src="javascripts/foundation/foundation.reveal.js"></script>

        <script src="javascripts/foundation/foundation.section.js"></script>

        <script src="javascripts/foundation/foundation.tooltips.js"></script>

        <script src="javascripts/foundation/foundation.topbar.js"></script>

        
        <script>
            $(document).foundation();
            $(document).ready(function() {

                $("#fact").click(function(){
                  $('p.title.main-nav').css("background-color","transparent !important");
                })

                // register form handler
                $( "#reg_form" ).submit(function(event) {
                      // Stop form from submitting normally
                       event.preventDefault();
                       //ajax request, show modal if form is posted successfully
                       $.post( "/mail_to", $("#reg_form").serialize(), function(data) {
                            alert("Thanks for you enquiry! Someone will get back to you soon.")
                       });       
                });





                //alert(document.location.pathname);
              if (($(window).width() > 800) && (document.location.pathname == '/mobile')) {
                document.location = "/";
              }

              $("p.collapse").click(function(){
                 $("section.active").removeClass("active");
                 $('p.title.main-nav').css("background-color","transparent !important").removeClass('active');
              });

              // if($("p.title.main-nav").parent().parent().hasClass('active')){
              //         $("p.title.main-nav").css("background-color","#efeee9 !important");
              //        }

              // $(".map-accordion").on('click', 'a.close-accordion-hack', function(event){
              //       if($(event.currentTarget).parent().parent().hasClass('active')){
              //           window.setTimeout(function(){
              //           $(event.currentTarget).parent().parent().removeClass('active')
              //        }, 100);
              //       }
              //       });  
   
               $('section.active').find('p.title.main-nav').first().css("background-color","#efeee9 !important");

               // $("section.active > p.title").on('click', 'p.title.main-nav', function(){
               //    alert('hi');
               // });

               // $("html").on( "click", "section.active p.title.main-nav", function() {
               //   alert( 'HELLOOOO');
               //  });

               

               // setTimeout(function() {
               //       if($(event.currentTarget).closest('section').hasClass('active')){
               //        $(event.currentTarget).css("background-color","#efeee9 !important");
               //       }
               //      }, 400);
                   
                
                $('.main-nav').on('click', 'p.title', function(event) {

                    $(document).foundation('section', {
                   callback: function (){
                     console.log('here');
                     var containerPos = $('section.active').offset().top;
                     $('html, body').animate({ scrollTop: containerPos }, 200);
                   }
                });
                  //if($(event.currentTarget).parent().parent().hasClass('active')){
                   // alert('hi');
                     //    setTimeout(function(){
                     //    $(event.currentTarget).parent().parent().removeClass('active')
                     // }, 100);
                    //}  


                  $('p.title.main-nav').css("background-color","transparent !important");
                   setTimeout(function() {
                     if($(event.currentTarget).closest('section').hasClass('active')){
                      $(event.currentTarget).css("background-color","#efeee9 !important");
                     }
                    }, 400);
                   
                    setTimeout(function() {
                        //$("section.active > .content > .orbit-container > .orbit-bullets").insertAfter($("section.active > p.title.main-nav"));
                        //console.log($('.section-container section.active .orbit-container ul').height());
                        if ($('.section-container section.active .orbit-container ul').height() === 0) {
                            $(window).trigger('resize');
                            console.log('0');
                        }
                    },500);
                });
            });
        </script>
    </body>
</html>
