html{
    height:100%;
    background-image: url("../images/BG_tile.jpg");

}


body{
    font-family: Arial !important;
    height:100%;
    /*font-family: Arial !important;
    font-size: 10pt;*/
}

.everything{

}

section.active > .content {
    padding-left:40px !important;
    padding-right:40px !important;
}

#main-content{
    height:100%;
}

.section-container.vertical-tabs {
    margin: 0 !important;
}

.section-container.vertical-tabs p.title a{
  font-family: ITC Century W01 Book !important; 
}

h4{
  font-family: ITC Century W01 Book !important;  
  margin-bottom:10px;
  font-size: 14pt;
}

.availabilities_table{
    width:100%;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    border:0;
}

.availabilities_table a{
    color:black;
    text-decoration: underline;
}
.availabilities_table tr:first-child{
    font-weight: bold;
}
.availabilities_table tr:not(:first-child):hover{
    background:white !important;
    cursor:pointer;
}
table.availabilities_table tr:nth-of-type(even) {
    background: transparent;
}

.press-span{
    display:inline-block; 
    text-align:left;
}
.section-container.accordion.map-accordion{
    border:0;
}

.section-container.accordion.map-accordion > section > .title {
    border:0px;
}

.section-container.accordion.map-accordion > section > .title > a {
    padding-top:5px !important;
    padding-bottom:5px !important;
    padding-left:0px;
    padding-right:0px;
    border-bottom:1px solid black;
    border-top:1px solid black;
    font-size: 12pt !important;
    color:#989484 !important;
     
}
.section-container.accordion.map-accordion > section > .title > a:hover {
    color:black !important;
}
.section-container.accordion.map-accordion > section.active > .title > a{
      color:black !important;
}
.section-container.accordion.map-accordion > section > .content > ol > li {
    font-size: 10pt !important;
}

.map{
  max-height:500px;
}

hr {
	border: solid #000000;
	border-width: 1px 0 0;
    clear: both;
    margin: 5px 0;
    display: block;
    height: 0;
}
.orbit-bullets{
    float:right;

}
/*.orbit-bullets{
        position: absolute;
        right: 10px;
        top: 800px !important;
}
*/
/*#main-content .orbit-container{
    margin-bottom:-50px;
}*/

.orbit-container .orbit-prev {
    background-color: transparent !important;
    background-image: url('../images/left_aarow.png') !important;
    background-repeat: no-repeat !important;
    width: 60px !important;
    height: 60px !important;
 
}

.orbit-container .orbit-prev > span {
     border:none !important;
}

.orbit-container .orbit-next {
    background-color: transparent !important;
    background-image: url('../images/right_aarow.png') !important;
    background-repeat: no-repeat !important;
    width: 60px !important;
    height: 60px !important;
}
.orbit-container .orbit-next > span {
     border:none !important;
}


.section-container.auto > section.active > .title, .section-container.auto > .section.active > .title,
.section-container.vertical-tabs > section.active > .title,
.section-container.vertical-tabs > .section.active > .title,
.section-container.vertical-nav > section.active > .title,
.section-container.vertical-nav > .section.active > .title,
.section-container.horizontal-nav > section.active > .title,
.section-container.horizontal-nav > .section.active > .title,
.section-container.accordion > section.active > .title,
.section-container.accordion > .section.active > .title {

  background: #efe9e0;
  border:none;

	}

.section-container.vertical-tabs > section > .title, .section-container.vertical-tabs > .section > .title {
}

.section-container.vertical-tabs{
  background-color:#efe9e0; 
}

.content{
    border:0 !important;
}

#main-content .title:not(.res_subtitle){
    padding-right:20px;
    padding-left:20px;
}

#main-content .title a {
    padding-top: 0;
    padding-bottom:0;
    color: #989484;
}

#main-content .active .title a{
   color:black;
}
#main-content .title a:hover{    
    color:black;
}
#main-content .title:hover{
    background-color: inherit;
}

.head{
	margin-bottom:50px;
	font-family: ITCCenturyW01-BookItali;
	font-size: 24pt;
}

.white-border{
    border: 10px solid white;
}

.cent{
	margin-left:auto;
	margin-right:auto;
	
}

.cent.white-border{
    max-width:500px !important;
    max-height: 400px !important;
}

.orbit-constraint{
	margin-left:auto;
	margin-right:auto;
	max-height:400px;
	max-width:400px;
}

/*.orbit-bullets{
        position: absolute;
        right: 10px;
        top: 18px;
        li{
            border: none;
            width: 24px;
            height: 24px;
            margin-right: 15px;
            background: #989484;
            &.active{
                background: #E2927E;
            }
        }
    }*/