
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Located at 245 West 14th Street between Seventh and Eighth Avenues. Village Green West combines the modern, sustainable living environment with a design aesthetic reminiscent of the 19th century industrial era.">
        <title>Real Estate West Village, Meatpacking District & Chelsea NYC | Condos & Apartments For Sale in NYC | Village Green West  | 245 West 14th Street</title>


        <link rel="stylesheet" href="stylesheets/app.css">
        <link rel="stylesheet" href="stylesheets/desktop.css">
        <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/9c63ad8b-0542-46ff-9c1d-b98c849ab9eb.css"/>
        <link href="javascripts/lightbox/css/lightbox.css" rel="stylesheet" />
        <script type="text/javascript" src="javascripts/ejs_0.9_alpha_1_production.js"></script>
        <script type="text/javascript" src="javascripts/underscore.js"></script>

        <script src="javascripts/vendor/custom.modernizr.js"></script>

        <script src="javascripts/lightbox/js/jquery-1.10.2.min.js"></script>  

        <script src="javascripts/vendor/jquery.validate.min.js"></script>


        <script src="javascripts/lightbox/js/lightbox-2.6.min.js"></script>

    </head>
    <body>
        <header>
            
        </header>
        <section id='main-content' style="height:100%;">
            <div class="row" style="min-height:100%;background-color:#efeee9;position:relative;">
                <div id="copyright">
                                Alfa Development © 2013
                            </div>
                
                <div class="small-12 columns" style="min-height:100%;">
                    
                    
                     <div class="everything" style="min-height:100%">
                        <div class="row" style="background-color:#efeee9; min-height:100%;">
                    	<div class="small-3 columns" style="padding-top:20px;padding-right:0px;padding-left:20px;">
                    	  <a renders-this="#building_html" class="logo" href="#"><img style="max-width:180px;" class="cent" src="images/Logo.gif"/></a>
                    	  <div class="sidebar" style="padding-left:5px;position:relative;height:100%;">
                    	  	<a renders-this="#building_html" href="#">THE BUILDING</a><br/>
                    	  	<a renders-this="#rez_html" href="#" id="rez">RESIDENCES</a><br/>
	                    	  	<div class="sub" id="rez_sub" style="display:none;">
	                    	  		<a renders-this="#kitchens_html" href="#"> › Kitchens </a>
	                    	  		<br/>
	                    	  		<a renders-this="#bathrooms_html" href="#"> › Bathrooms </a>
	                    	  	</div>
                    	  	<a renders-this="#penthouses_html" href="#">PENTHOUSES</a><br/>
                    	  	<a renders-this="#amenities_html" href="#" id="amen">AMENITIES</a><br/>
	                    	  	<div class="sub" id="amen_sub" style="display:none;">
	                    	  		<a renders-this="#better_living_html" href="#"> › Better Living </a>
                                    <br/>
                                    <a renders-this="#open_air_html" href="#"> › Open Air </a>
	                    	  	</div>
                    	  	<a renders-this="#neigh_html" href="#" id="neigh">NEIGHBORHOOD</a><br/>
                    	  	<a renders-this="#map_html" href="#" id ="map">MAP</a><br/><br/>
                    	  	<a renders-this="#avail_html" href="#" id="availability">AVAILABILITY</a><br/>
                    	  	<a renders-this="#facts_html" href="#" id="factsheet">FACT SHEET</a><br/>
                    	  	<a renders-this="#team_html" href="#" id="team">TEAM</a><br/>
                    	  	<a renders-this="#press_html" href="#" id="press">PRESS</a><br/>
                            <br/>
                    	  	<a renders-this="#contact_html" href="#">Contact</a><br/>
                    	  	<a renders-this="#register_html" href="#">Register</a><br/>
                    	  	<a renders-this="#legal_html" href="#">Legal</a><br/>
                            
                    	  </div>
                    	</div>
                    	<div class="small-9 columns content-area" style="min-height: 100%;">
                    	
                    	</div>
                        </div>
                    </div>
                    </div>
                </div>  
            </div>
        </section>


        <div id="building_html" style="display:none;">
          <div class="head">
            The Building <hr>
          </div>
                                <ul data-orbit data-options="timer:false;slide_number:false;bullets:false;animation:'fade';">
                                    <li>
                                        <a href="images/Building.jpg" data-lightbox="building1">
                                          <img class="cent white-border" src="images/Building.jpg" />
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="images/Building_02.jpg" data-lightbox="building1">
                                          <img class="cent white-border" src="images/Building_02.jpg" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="images/Building2.jpg" data-lightbox="building1">
                                          <img class="cent white-border" src="images/Building2.jpg" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="images/Building3.jpg" data-lightbox="building1">
                                          <img class="cent white-border" src="images/Building3.jpg" />
                                        </a>
                                    </li> -->
                                </ul>
                                  <div class="small-9 columns">
                                  <p>
                                    At the crossroads of three Manhattan neighborhoods,
                                    Village Green West inhabits a place
                                    where the aesthetic of the past meets the
                                    efficiency of the future. With details and finishes that are a nod to the rich context of time and place, and systems, services and amenities that are state-of-the-art in terms of comfort and sustainability, Village Green West embodies the art of living better.
                                  </p>
                                  </div>
                                  <!-- <div class="small-3 columns controls">
                                      <img class="left_arrow" style="cursor:pointer;" src="images/left_aarow.png"/>
                                      <img class="right_arrow" style="cursor:pointer;" src="images/right_aarow.png"/>
                                  </div>  -->
           
        </div>

        <div id="rez_html" style="display:none;">
          <div class="head">
            Residences <hr>
          </div>
            <ul data-orbit data-options="timer:false;slide_number:false;bullets:false;animation:'fade';">
                <li>
                    <a href="images/Residences.jpg" data-lightbox="Residences">
                      <img class="cent white-border" src="images/Residences.jpg" />
                    </a>
                </li>
                <!-- <li>
                    <a href="images/Kitchen-TEMP.jpg" data-lightbox="Residences">
                      <img class="cent white-border" src="images/Kitchen-TEMP.jpg" />
                    </a>
                </li>
                <li>
                    <a href="images/Bathroom-TEMP.jpg" data-lightbox="Residences">
                      <img class="cent white-border" src="images/Bathroom-TEMP.jpg" />
                    </a>
                </li> -->
            </ul>
            <div class="small-9 columns">
            <p>
                Interiors are designed to engage the senses, by juxtaposing the familiar with the unique. Wide plank European oak
                flooring, custom paneled doors, crown moldings throughout, and black steel framed windows give the home a turn
                of the century warmth. Zone controlled central heating and cooling, Traco U-Value windows, and Environmental
                Tobacco Smoke control ensure that your home remains a sanctuary from any disturbance from the outside world.
            </p>
            </div>
            <!-- <div class="small-3 columns controls">
                <img class="left_arrow" style="cursor:pointer;" src="images/left_aarow.png"/>
                <img class="right_arrow" style="cursor:pointer;" src="images/right_aarow.png"/>
            </div> -->
        </div>

        <div id="kitchens_html" style="display:none;">
          <div class="head">
            Residences › Kitchens <hr>
          </div>
          <ul data-orbit data-options="timer:false;slide_number:false;bullets:false;animation:'fade';">
                <li>
                    <a href="images/Kitchen.jpg" data-lightbox="Kitchens">
                      <img class="cent white-border" src="images/Crops/Kitchens.jpg" />
                    </a>
                </li>
                <!-- <li>
                    <a href="images/Kitchen2.jpg" data-lightbox="Kitchens">
                      <img class="cent white-border" src="images/Kitchen2.jpg" />
                    </a>
                </li>
                <li>
                    <a href="images/Kitchen3.jpg" data-lightbox="Kitchens">
                      <img class="cent white-border" src="images/Kitchen3.jpg" />
                    </a>
                </li> -->
            </ul>
            <div class="small-9 columns">
            <p>
                The timeless appeal of Siematic custom cabinetry with a fully integrated Liebherr refrigerator and Bosch dishwasher,
                are partnered with the bold lines of a Smeg cooktop and oven. Lefroy Brooks fixtures with in-line water filtration
                are mounted on beautiful and durable Caeserstone countertops for a European kitchen where you will feel right at
                home cooking and entertaining.
            </p>
            </div>
            <!-- <div class="small-3 columns controls">
                <img class="left_arrow" style="cursor:pointer;" src="images/left_aarow.png"/>
                <img class="right_arrow" style="cursor:pointer;" src="images/right_aarow.png"/>
            </div> -->
        </div>

        <div id="bathrooms_html" style="display:none;">
          <div class="head">
            Residences › Bathrooms <hr>
          </div>
          <ul data-orbit data-options="timer:false;slide_number:false;bullets:false;animation:'fade';">
                <li>
                    <a href="images/Bathroom.jpg" data-lightbox="Bathroom">
                      <img class="cent white-border" src="images/Crops/Bathrooms.jpg" />
                    </a>
                </li>
               <!--  <li>
                    <a href="images/Bathroom2.jpg" data-lightbox="Bathroom">
                      <img class="cent white-border" src="images/Bathroom2.jpg" />
                    </a>
                </li>
                <li>
                    <a href="images/Bathroom3.jpg" data-lightbox="Bathroom">
                      <img class="cent white-border" src="images/Bathroom3.jpg" />
                    </a>
                </li> -->
            </ul>
            <div class="small-9 columns">
            <p>
                The timeless appeal of Siematic custom cabinetry with a fully integrated Liebherr refrigerator and Bosch dishwasher,
                are partnered with the bold lines of a Smeg cooktop and oven. Lefroy Brooks fixtures with in-line water filtration
                are mounted on beautiful and durable Caeserstone countertops for a European kitchen where you will feel right at
                home cooking and entertaining.
            </p>
            </div>
           <!--  <div class="small-3 columns controls">
                <img class="left_arrow" style="cursor:pointer;" src="images/left_aarow.png"/>
                <img class="right_arrow" style="cursor:pointer;" src="images/right_aarow.png"/>
            </div>    -->
        </div>

        <div id="penthouses_html" style="display:none;">
          <div class="head">
            Penthouses <hr>
          </div>
          <ul data-orbit data-options="timer:false;slide_number:false;bullets:false;animation:'fade';">
                <li>
                    <a href="images/Penthouses.jpg" data-lightbox="Penthouses">
                      <img class="cent white-border" src="images/Crops/Penthouse.jpg" />
                    </a>
                </li>
               <!--  <li>
                    <a href="images/Penthouses2.jpg" data-lightbox="Penthouses">
                      <img class="cent white-border" src="images/Penthouses2.jpg" />
                    </a>
                </li>
                <li>
                    <a href="images/Penthouses3.jpg" data-lightbox="Penthouses">
                      <img class="cent white-border" src="images/Penthouses3.jpg" />
                    </a>
                </li> -->
            </ul>
            <div class="small-9 columns">
            <p>
                Enjoy the exclusivity of your own private floor with a spectacular 50-foot living room and unstoppable light and
                views to the South and North from giant floor-to-ceiling windows. Entertain or relax on one of your terraces, cook
                with your friends and family in your spacious custom kitchen, or just enjoy a bottle of your finest from the wine
                fridge.
            </p>
            </div>
            <!-- <div class="small-3 columns controls">
                <img class="left_arrow" style="cursor:pointer;" src="images/left_aarow.png"/>
                <img class="right_arrow" style="cursor:pointer;" src="images/right_aarow.png"/>
            </div> -->
        </div>

        <div id="amenities_html" style="display:none;">
          <div class="head">
            Amenities <hr>
          </div>
          <ul data-orbit data-options="timer:false;slide_number:false;bullets:false;animation:'fade';">
                <li>
                    <a href="images/Amenities.jpg" data-lightbox="Amenities">
                      <img class="cent white-border" src="images/Crops/Amenities.jpg" />
                    </a>
                </li>
                <!-- <li>
                    <a href="images/BetterLiving.jpg" data-lightbox="Amenities">
                      <img class="cent white-border" src="images/BetterLiving.jpg" />
                    </a>
                </li>
                <li>
                    <a href="images/OpenAir.jpg" data-lightbox="Amenities">
                      <img class="cent white-border" src="images/OpenAir.jpg" />
                    </a>
                </li> -->
            </ul>
            <div class="small-9 columns">
            <p>
                At Village Green West, residents will take sanctuary in the Wellness Center- a first class amenity suite where fitness,
                relaxation, service and entertainment are available 24 hours a day. Play a game of pool in the lounge, go for
                a run in the gym, decompress in the sauna or have our Wellness Concierge book you a massage in the treatment
                room. Whatever you need to recharge, you’ll never have to leave home to find it.
            </p>
            </div>
           <!--  <div class="small-3 columns controls">
                <img class="left_arrow" style="cursor:pointer;" src="images/left_aarow.png"/>
                <img class="right_arrow" style="cursor:pointer;" src="images/right_aarow.png"/>
            </div> -->
        </div>

        <div id="better_living_html" style="display:none;">
          <div class="head">
            Better Living <hr>
          </div>
          <ul data-orbit data-options="timer:false;slide_number:false;bullets:false;animation:'fade';">
                <li>
                    <a href="images/BetterLiving.jpg" data-lightbox="BetterLiving">
                      <img class="cent white-border" src="images/Crops/BetterLiving.jpg" />
                    </a>
                </li>
                <!-- <li>
                    <a href="images/BetterLiving2.jpg" data-lightbox="BetterLiving">
                      <img class="cent white-border" src="images/BetterLiving2.jpg" />
                    </a>
                </li>
                <li>
                    <a href="images/BetterLiving3.jpg" data-lightbox="BetterLiving">
                      <img class="cent white-border" src="images/BetterLiving3.jpg" />
                    </a>
                </li> -->
            </ul>
            <div class="small-9 columns">
            <p>
                At Village Green West, residents will take sanctuary in the Wellness Center- a first class amenity suite where fitness,
                relaxation, service and entertainment are available 24 hours a day. Play a game of pool in the lounge, go for
                a run in the gym, decompress in the sauna or have our Wellness Concierge book you a massage in the treatment
                room. Whatever you need to recharge, you’ll never have to leave home to find it.
            </p>
            </div>
            <!-- <div class="small-3 columns controls">
                <img class="left_arrow" style="cursor:pointer;" src="images/left_aarow.png"/>
                <img class="right_arrow" style="cursor:pointer;" src="images/right_aarow.png"/>
            </div> -->
        </div>

        <div id="open_air_html" style="display:none;">
            <div class="head">
                Open Air <hr/>
            </div>
            <ul data-orbit data-options="timer:false;slide_number:false;bullets:false;animation:'fade';">
                <li>
                    <a href="images/OpenAir.jpg" data-lightbox="OpenAir">
                      <img class="cent white-border" src="images/OpenAir.jpg" />
                    </a>
                </li>
                <!-- <li>
                    <a href="images/OpenAir2.jpg" data-lightbox="OpenAir">
                      <img class="cent white-border" src="images/OpenAir2.jpg" />
                    </a>
                </li>
                <li>
                    <a href="images/OpenAir3.jpg" data-lightbox="OpenAir">
                      <img class="cent white-border" src="images/OpenAir3.jpg" />
                    </a>
                </li> -->
            </ul>
            <div class="small-9 columns">
            <p>
                At Village Green West, residents will take sanctuary in the Wellness Center- a first class amenity suite where fitness,
                relaxation, service and entertainment are available 24 hours a day. Play a game of pool in the lounge, go for
                a run in the gym, decompress in the sauna or have our Wellness Concierge book you a massage in the treatment
                room. Whatever you need to recharge, you’ll never have to leave home to find it.
            </p>
            </div>
            <!-- <div class="small-3 columns controls">
                <img class="left_arrow" style="cursor:pointer;" src="images/left_aarow.png"/>
                <img class="right_arrow" style="cursor:pointer;" src="images/right_aarow.png"/>
            </div>   --> 
        </div>

        <div id="neigh_html" style="display:none;">
          <div class="head">One Building, Three Neighborhoods<hr/></div> 
          <ul data-orbit data-options="timer:false;slide_number:false;animation:'fade';animationSpeed: 2000">
                <li>
                    <a href="images/Neigh1.jpg" data-lightbox="Neighborhood">
                      <img class="cent white-border" src="images/Crops/Neigh1.jpg" />
                    </a>
                </li>
                <li>
                    <a href="images/Neigh2.jpg" data-lightbox="Neighborhood">
                      <img class="cent white-border" src="images/Neigh2.jpg" />
                    </a>
                </li>
                <li>
                    <a href="images/Neigh3.jpg" data-lightbox="Neighborhood">
                      <img class="cent white-border" src="images/Crops/Neigh3.jpg" />
                    </a>
                </li>
                <li>
                    <a href="images/Neigh4.jpg" data-lightbox="Neighborhood">
                      <img class="cent white-border" src="images/Crops/Neigh4.jpg" />
                    </a>
                </li>
            </ul>
            <div class="small-9 columns">
            <p style="margin-top:0 !important;">
                Originally known for its bohemian culture, the West Village today is a mecca for high-end retail and acclaimed
                restaurants while steps away, Chelsea and the Meatpacking District have transitioned from their industrial past to
                become home to Manhattan’s hottest galleries, shopping, and nightlife. Village Green West could not be better
                situated in terms of comfort, convenience, and culture. Whether shopping on Bleecker Street,strolling on the Highline,
                or gallery hopping in Chelsea on opening night, the best of New York City is always just steps from your front
                door.
            </p>
            </div>
            <div class="small-3 columns controls">
                <img class="left_arrow" style="cursor:pointer;" src="images/left_aarow.png"/>
                <img class="right_arrow" style="cursor:pointer;" src="images/right_aarow.png"/>
            </div>
        </div>

        <div id="map_html" style="display:none;">
          <div class="head">
             One Building, Three Neighborhoods <hr>
          </div>
          <div class="row">
            <div class="large-4 columns">
              <div class="section-container accordion map-accordion" data-section="accordion">
                                      <section>
                                        <p class="title" data-section-title><a class="close-accordion-hack" href="#" style="border-top:0!important;">SHOPPING</a></p>
                                        <div class="content" data-section-content>
                                          <p><ul>
                                            <li>Apple Store</li>
                                            <li>Burberry</li>
                                            <li>Commes des Garcons</li>
                                            <li>Kiehls</li>
                                            <li>Marc Jacobs</li>
                                            <li>Diane von Furstenberg</li>
                                            <li>Theory</li>
                                            <li>Jeffrey</li>
                                            <li>Alexander McQueen</li>
                                          </ul></p>
                                        </div>
                                      </section>
                                      <section>
                                        <p class="title" data-section-title><a class="close-accordion-hack" href="#">FOOD & WINE<br/>MARKETS</a></p>
                                        <div class="content" data-section-content>
                                          <p><ul>
                                            <li>Barbuto</li>
                                            <li>Del Posto</li>
                                            <li>Morimoto</li>
                                            <li>Pastis</li>
                                            <li>Alison Eighteen</li>
                                            <li>Cafe Cluny</li>
                                            <li>Corner Bistro</li>
                                            <li>Spice Market</li>
                                            <li>Crispo</li>
                                            <li>The Darby</li>
                                          </ul></p>
                                        </div>
                                      </section>
                                      <section>
                                        <p class="title" data-section-title><a class="close-accordion-hack" href="#">OUTDOOR/<br/>RECREATIONAL/<br/>WELLNESS</a></p>
                                        <div class="content" data-section-content>
                                          <p><ul>
                                            <li>Chelsea Piers</li>
                                            <li>The Highline</li>
                                            <li>Integral Yoga</li>
                                            <li>Hudson River Park</li>
                                            <li>Bleecker Playground</li>
                                          </ul></p>
                                        </div>
                                      </section>
                                      <section>
                                        <p class="title" data-section-title><a class="close-accordion-hack" href="#">NIGHTLIFE/HOTELS/<br/>ENTERTAINMENT</a></p>
                                        <div class="content" data-section-content>
                                          <p><ul>
                                            <li>Gansevoort</li>
                                            <li>Maritime</li>
                                            <li>SoHo House</li>
                                            <li>Norwood Club</li>
                                            <li>Highline Ballroom</li>
                                            <li>The Standard</li>
                                            <li>Joyce Theater</li>
                                          </ul></p>
                                        </div>
                                      </section>
                                      <section>
                                        <p class="title" data-section-title><a class="close-accordion-hack" href="#" style="border-bottom:2px solid black;">RESTAURANTS</a></p>
                                        <div class="content" data-section-content>
                                          <p><ul>
                                            <li>Barbuto</li>
                                            <li>Del Posto</li>
                                            <li>Morimoto</li>
                                            <li>Pastis</li>
                                            <li>Alison Eighteen</li>
                                            <li>Cafe Cluny</li>
                                            <li>Corner Bistro</li>
                                            <li>Spice Market</li>
                                            <li>Crispo</li>
                                            <li>The Darby</li>
                                          </ul></p>
                                        </div>
                                      </section>
              </div>
            </div>
            <div class="large-8 columns">
              <a href="images/Map.jpg" data-reveal-id="myModal">
                <img class="cent white-border" src="images/Map.jpg" id="map_img" />
              </a>
            </div>
          </div>
        </div>

        <div id="avail_html" style="display:none;">
            <div class="head">
                Availability <hr/>
            </div>
                                <!-- <ul data-orbit data-options="timer:false;slide_number:false;bullets:false;navigation_arrows:false;animation:'fade';">
                                    <li data-orbit-slide="T1">
                                        <a href="images/Floorplans/245_Flrplns_2C.gif" data-lightbox="Floorplan">
                                          <img class="cent white-border" src="images/Floorplans/245_Flrplns_2C.gif" />
                                        </a>
                                    </li>
                                    <li data-orbit-slide="3B">
                                        <a href="images/Floorplans/245_Flrplns_2A-6A.gif" data-lightbox="Floorplan">
                                          <img class="cent white-border" src="images/Floorplans/245_Flrplns_2A-6A.gif" />
                                        </a>
                                    </li>
                                    <li data-orbit-slide="3C">
                                        <a href="images/Floorplans/245_Flrplns_2A-6A3.gif" data-lightbox="Floorplan">
                                          <img class="cent white-border" src="images/Floorplans/245_Flrplns_2A-6A3.gif" />
                                        </a>
                                    </li>
                                </ul>-->

                                      <br/>
                            <div class='row'>
                                                <div class='large-12 columns'>
                                                 <table class="availabilities_table">
                                                   <tr>
                                                     <td>
                                                        RESIDENCE
                                                     </td>
                                                     <td>
                                                        EXPOSURE
                                                     </td>
                                                     <td>
                                                        INT/EXT SQ FT
                                                     </td>
                                                     <td>
                                                        PRICE
                                                     </td>
                                                     <td>
                                                        EST CC
                                                     </td>
                                                     <td>
                                                        EST TAX
                                                     </td>
                                                     <td>
                                                        FLOOR PLAN
                                                     </td>
                                                   </tr>
                                                   <tr>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2C.gif" data-lightbox="Floorplan"> 2C </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2C.gif" data-lightbox="Floorplan"> South </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2C.gif" data-lightbox="Floorplan"> 3,038 / 661 </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2C.gif" data-lightbox="Floorplan"> 6M </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2C.gif" data-lightbox="Floorplan"> $1,168 </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2C.gif" data-lightbox="Floorplan"> $328 </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2C.pdf" download="Floorplan2c"><u>Download PDF</u></a>
                                                     </td>
                                                   </tr>
                                                   <tr>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A.gif" data-lightbox="Floorplan"> 2A-6A </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A.gif" data-lightbox="Floorplan"> South </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A.gif" data-lightbox="Floorplan"> 683 </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A.gif" data-lightbox="Floorplan"> 6M </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A.gif" data-lightbox="Floorplan"> $803 </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A.gif" data-lightbox="Floorplan"> $267 </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A.pdf" download="Floorplan2a6a"><u>Download PDF</u></a>
                                                     </td>
                                                   </tr>
                                                   <tr>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A3.gif" data-lightbox="Floorplan"> 2A-6A3 </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A3.gif" data-lightbox="Floorplan"> South </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A3.gif" data-lightbox="Floorplan"> 892 </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A3.gif" data-lightbox="Floorplan"> 1.36M </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A3.gif" data-lightbox="Floorplan"> $1,161 </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2A-6A3.gif" data-lightbox="Floorplan"> $331 </a>
                                                     </td>
                                                     <td>
                                                        <a href="images/Floorplans/245_Flrplns_2B-6B.pdf" download="Floorplan2b6b"><u>Download PDF</u></a>
                                                     </td>
                                                   </tr>
                                                 </table>
                                                </div>
                                            </div>      
        </div>

        <div id="facts_html" style="display:none;">
            <div class="head" style="margin-bottom:15px;">
                                    Fact Sheet <hr>
                                </div>
                                <h4>AMENITIES</h4>
                                <ul>
                                    <li>24-hour attended lobby</li>
                                    <li>Concierge service</li>
                                    <li>Landscaped rooftop lounge</li>
                                    <li>Attended Wellness Center and fitness room</li>
                                    <li>Spa with integrated sauna, treatment room and shower</li>
                                    <li>Lounge with billiards and coffee bar</li>
                                    <li>Bicycle storage</li>
                                    <li>Private storage units</li>
                                    <li>Targeting LEED Gold Certification</li>
                                </ul>
                                <h4>RESIDENCE FEATURES</h4>
                                <ul>
                                    <li>
                                        High performance Traco U-Value 1” Argon filled, gasketed and 
                                        insulated windows that increase natural light, reduce noise 
                                        pollution and reduce heat gain and loss
                                    </li>
                                    <li>Rich 7” wide plank European Oak floors in smoked white oil finish with FSC certification by LV Wood Floors</li>
                                    <li>Well appointed custom wood base and crown moldings</li>
                                    <li>State-of-the-art , central heating and cooling systems by Daikin allow for zone control and keep temperature constant by 2+/- degrees</li>
                                    <li>Innovative heat recovery system tempers cold air and delivers filtered fresh air year round</li>
                                    <li>Low/no VOC paints, sealants and coatings reduce allergenic and odor based irritants</li>
                                    <li>Environmental Tobacco Smoke (ETS) Control minimizes exposure of residents to airborne pollutants</li>
                                    <li>Bosch Axxis washer and dryer</li>
                                    <li>Filtered drinking water</li>
                                    <li>Wind generated electricity source</li>
                                    <li>LED lighting where possible</li>
                                </ul>
                                <h4>KITCHEN</h4>
                                <ul>
                                    <li>Custom white paneled cabinets with glass upper cabinets by Siematic</li>
                                    <li>Caesarstone countertops in Blizzard White</li>
                                    <li>Lefroy Brooks Mackintosh fixtures</li>
                                    <li>
                                        Energy Star rated appliances include:
                                        <ul>
                                            <li>Smeg cook top</li>
                                            <li>Smeg convection oven with digital LED display</li>
                                            <li>Faber range hood</li>
                                            <li>Fully integrated Liebherr refrigerator</li>
                                            <li>Fully integrated Miele dishwasher</li>
                                            <li>GE Monogram microwave</li>
                                        </ul>
                                    </li>
                                    <li>Designer series under-mounted sink by Elkay</li>
                                    <li>In-Sink-Erator garbage disposal</li>
                                </ul>
                                <h4>MASTER BATHROOM</h4>
                                <ul>
                                    <li>Locally sourced honed marble walls and bathtub surround</li>
                                    <li>Arabescato Carrara marble honed mosaic tile floors with radiant heat</li>
                                    <li>Lefroy Brooks Mackintosh fixtures</li>
                                    <li>Glass enclosed stall showers</li>
                                    <li>Deep soaking bathtubs</li>
                                    <li>Eco-friendly high efficiency Guinevere toilets by TOTO</li>
                                </ul>
                                <h4>PENTHOUSE</h4>
                                <ul>
                                    <li>50’ of living space with expansive north and south views</li>
                                    <li>Keyed elevator</li>
                                    <li>Approximately 1,100 SF of private outdoor space</li>
                                    <li>Smeg speed oven and warming drawer</li>
                                    <li>Full height 143 bottle Liebherr wine refrigerators</li>
                                </ul>      
        </div>

        <div id="team_html" style="display:none;">
            <div class="head" style="margin-bottom:20px;">
                                    Team <hr>
                                </div>
                                <img style="max-width: 100% !important;" class="cent white-border" src='images/Alfa_Team.jpg'/>
                                <p>
                                    Composed of longtime residents of the downtown Manhattan area, the Alfa Development team has firsthand knowledge of the downtown
                                    experience. Always mindful of how their buildings will become part of the fabric of their community, Alfa’s guiding principle is best articulated
                                    by the theme line: “History, architecture, and sustainability on a human scale.” With an aesthetic attuned to the unique harmonies of
                                    each neighborhood, their buildings combine architecturally contextual exteriors with the most finely appointed modern interiors.
                                </p>
                                <p>
                                    Michael Namer has been developing real estate in downtown New York for the last 30 years. As the founder, principal, and Managing
                                    Member of Alfa Development/Management LLC, Michael brings his attention to detail, construction expertise, and hands-on approach
                                    to real estate development to every project. In the last five years, Alfa Development has produced over $150,000,000 of residential condominium
                                    development — all in downtown Manhattan. Michael Namer and Alfa Development are continuing with their mission to create
                                    more sustainable living experiences with the developments and residences that comprise the Green Collection.
                                </p>       
        </div>

        <div id="press_html" style="display:none;">
            <div class="head">
                                    Press <hr>
                                </div>
                                <div class="row" style="text-align:center;">
                                    <p>
                                      <span class="press-span">
                                        <a href="images/Forbes.jpg" data-lightbox="Press">
                                          <img class="cent white-border" src="images/Forbes.jpg" />
                                        </a><br/>
                                        <b>Ultimage Kitchens For The Holidays 11/21/2012</b>
                                      </span>
                                    </p>
                                    <p>
                                      <span class="press-span">
                                        <a href="images/New_York_Magazine.jpg" data-lightbox="Press">
                                          <img class="cent white-border" src="images/New_York_Magazine.jpg" />
                                        </a><br/>
                                        <b>Condo Madness Returns 11/05/2012</b>
                                   </p>
                                   <p>
                                    <span class="press-span">
                                      <a href="images/New_York_Times.jpg" data-lightbox="Press">
                                          <img class="cent white-border" src="images/New_York_Times.jpg" />
                                        </a><br/>
                                      <b>The Take-It-on-Faith Condo 11/18/2012</b>
                                    </span>
                                   </p> 
                                </div>  
        </div>

        <div id="contact_html" style="display:none;">
            <div class="content" data-section-content>
                                <div class="head">
                                    Contact <hr>
                                </div>
                               <p style="text-align:center;">
                                <img class="cent white-border" src='images/Residences.jpg'/><br/>
                               </p>
                                <h4>VILLAGE GREEN WEST SALES GALLERY</h4>
                            <p style="font-size:10pt;">
                                130 West 18th St.<br>
                                New York, NY 10011<br>
                                <br>
                                Tel: (212) 242 0151<br>
                                Fax: (212) 242 0152<br>
                                Email: info@245W14th.com
                            </p>
           
        </div>

        <div id="register_html" style="display:none;">
            <div class="head">
                                    Register <hr>
                                </div>
                                <form id= "reg_form" action="/mail_to" method="post" class='custom' style="font-size:10pt;">
                                  <div class="row">
                                      <div class="large-4 columns">
                                          <label for='fname'>First Name*</label>
                                          <input name='First Name' id='fname' type="text" required>
                                      </div>
                                      <div class="large-4 columns">
                                          <label for='lname'>Last Name*</label>
                                          <input name='Last Name' id='lname' type="text" required>
                                      </div>
                                      <div class="large-4 columns">
                                          <label>Email*</label>
                                          <input id='email' name='Email Address' type="text" required>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="large-4 columns">
                                          <label>Zip Code</label>
                                          <input name='Zip Code' type="text">
                                      </div>
                                      <div class="large-4 columns">
                                          <label>Phone</label>
                                          <input name='Phone Number' type="text">
                                      </div>
                                      <div class="large-4 columns">
                                          <label>Address</label>
                                          <input name='Address' type="text">
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="large-4 columns">
                                          <label>City</label>
                                          <input name='City' type="text">
                                      </div>
                                      <div class="large-4 columns">
                                          <label>State</label>
                                          <input name='State' type="text">
                                      </div>
                                      <div class="large-4 columns">
                                          <label>Country</label>
                                          <input name='Country' type="text">
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="large-3 columns">
                                          <label>WHAT RESIDENCE ARE YOU INTERESED IN?</label>
                                          <select name='Residence'>
                                              <option>Option 1</option>
                                              <option>Option 2</option>
                                              <option>Option 3</option>
                                          </select>
                                      </div>
                                      <div class="large-3 columns">
                                          <label >WHAT IS YOUR PRICE RANGE?</label>
                                          <select name='Price Range'>
                                              <option>Option 1</option>
                                              <option>Option 2</option>
                                              <option>Option 3</option>
                                          </select>
                                      </div>
                                      <div class="large-3 columns">
                                          <label>HOW DID YOU HEAR ABOUT US?</label>
                                          <select name='Heard About Us Through'>
                                              <option>Option 1</option>
                                              <option>Option 2</option>
                                              <option>Option 3</option>
                                          </select>
                                      </div>
                                      <div class="large-3 columns">
                                          <label>WHAT IS THE MOST IMPORTANT FACTOR?</label>
                                          <select name='Most Important Factor'>
                                              <option>Option 1</option>
                                              <option>Option 2</option>
                                              <option>Option 3</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="large-6 columns">
                                          <label>COMMENTS</label>
                                          <textarea name='Comments'></textarea>
                                      </div>
                                      <div class="large-6 columns" style="margin-top: 14px;">
                                      <label for="checkbox1"><input name="Represented By A Broker" type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> ARE YOU REPRESENTED BY A BROKER?</label>
                                      <label for="checkbox2"><input name="Is A Broker" type="checkbox" id="checkbox2" style="display: none;"><span class="custom checked checkbox"></span> ARE YOU A BROKER?</label>
                                     
                                      <input type='submit' value='SUBMIT'>
                                      </div>
                                  </div>
                              </form>
        </div>

        <div id="legal_html" style="display:none;">
          <div class="head">
                                    Legal <hr>
                                </div>
                            <p> 
                                THE COMPLETE OFFERING TERMS ARE IN AN OFFERING PLAN AVAILABLE FROM THE SPONSOR. FILE NO. CD11-0177. SPONSOR:
                                FIRST WEST 21ST STREET LLC 15 WEST 18TH STREET SUITE 200 NEW YORK, NEW YORK 10011.
                            </p>
                            <p>
                                The exact finishes and dimensions may vary in accordance with terms outlined in the offering plan. Actual layouts may vary - please consult
                                the floor plans and offering plan for representative dimensions and layouts of each specific unit.
                            </p>
                            <p>
                                All dimensions are approximate and subject to normal construction variances and tolerances. We reserve the right to make changes due
                                to unforeseen conditions and in accordance with the offering plan. For exact measurements you must hire our own architect or engineer.
                            </p>
                            <img class="cent white-border" src='images/small-logo.gif' />
                            </div>
        </div>

        <div id="myModal" class="reveal-modal large">
            <div class="row">
            <div class="large-4 columns">
              <div class="section-container accordion modal map-accordion" data-section="accordion">
                                      <section>
                                        <p class="title" data-section-title><a class="close-accordion-hack" href="#" style="border-top:0!important;">SHOPPING</a></p>
                                        <div class="content" data-section-content>
                                          <p><ul>
                                            <li>Apple Store</li>
                                            <li>Burberry</li>
                                            <li>Commes des Garcons</li>
                                            <li>Kiehls</li>
                                            <li>Marc Jacobs</li>
                                            <li>Diane von Furstenberg</li>
                                            <li>Theory</li>
                                            <li>Jeffrey</li>
                                            <li>Alexander McQueen</li>
                                          </ul></p>
                                        </div>
                                      </section>
                                      <section>
                                        <p class="title" data-section-title><a class="close-accordion-hack" href="#">FOOD & WINE<br/>MARKETS</a></p>
                                        <div class="content" data-section-content>
                                          <p><ul>
                                            <li>Barbuto</li>
                                            <li>Del Posto</li>
                                            <li>Morimoto</li>
                                            <li>Pastis</li>
                                            <li>Alison Eighteen</li>
                                            <li>Cafe Cluny</li>
                                            <li>Corner Bistro</li>
                                            <li>Spice Market</li>
                                            <li>Crispo</li>
                                            <li>The Darby</li>
                                          </ul></p>
                                        </div>
                                      </section>
                                      <section>
                                        <p class="title" data-section-title><a class="close-accordion-hack" href="#">OUTDOOR/<br/>RECREATIONAL/<br/>WELLNESS</a></p>
                                        <div class="content" data-section-content>
                                          <p><ul>
                                            <li>Chelsea Piers</li>
                                            <li>The Highline</li>
                                            <li>Integral Yoga</li>
                                            <li>Hudson River Park</li>
                                            <li>Bleecker Playground</li>
                                          </ul></p>
                                        </div>
                                      </section>
                                      <section>
                                        <p class="title" data-section-title><a class="close-accordion-hack" href="#">NIGHTLIFE/HOTELS/<br/>ENTERTAINMENT</a></p>
                                        <div class="content" data-section-content>
                                          <p><ul>
                                            <li>Gansevoort</li>
                                            <li>Maritime</li>
                                            <li>SoHo House</li>
                                            <li>Norwood Club</li>
                                            <li>Highline Ballroom</li>
                                            <li>The Standard</li>
                                            <li>Joyce Theater</li>
                                          </ul></p>
                                        </div>
                                      </section>
                                      <section>
                                        <p class="title" data-section-title><a class="close-accordion-hack" href="#" style="border-bottom:2px solid black;">RESTAURANTS</a></p>
                                        <div class="content" data-section-content>
                                          <p><ul>
                                            <li>Barbuto</li>
                                            <li>Del Posto</li>
                                            <li>Morimoto</li>
                                            <li>Pastis</li>
                                            <li>Alison Eighteen</li>
                                            <li>Cafe Cluny</li>
                                            <li>Corner Bistro</li>
                                            <li>Spice Market</li>
                                            <li>Crispo</li>
                                            <li>The Darby</li>
                                          </ul></p>
                                        </div>
                                      </section>
              </div>
            </div>
            <div class="large-8 columns">
              <a href="images/Map.jpg">
                <img class="white-border" style="max-width:100%;max-height:100%;" src="images/Map.jpg" id="map_img" />
              </a>
            </div>
          </div>
            <a class="close-reveal-modal"><img src="images/Close.png"></img></a>
          </div>

          <div id="reg_modal" class="reveal-modal medium">
            Thanks for your message! Someone will be in touch soon.
            <a class="close-reveal-modal"><img src="images/Close.png"></img></a>
          </div>





        <script>
            document.write('<script src=' +
                    ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
                    '.js><\/script>')
        </script>


        <script src="javascripts/foundation/foundation.js"></script>

        <script src="javascripts/foundation/foundation.abide.js"></script>

        <script src="javascripts/foundation/foundation.alerts.js"></script>

        <script src="javascripts/foundation/foundation.clearing.js"></script>

        <script src="javascripts/foundation/foundation.cookie.js"></script>

        <script src="javascripts/foundation/foundation.dropdown.js"></script>

        <script src="javascripts/foundation/foundation.forms.js"></script>

        <script src="javascripts/foundation/foundation.interchange.js"></script>

        <script src="javascripts/foundation/foundation.joyride.js"></script>

        <script src="javascripts/foundation/foundation.magellan.js"></script>

        <script src="javascripts/foundation/foundation.orbit.js"></script>

        <script src="javascripts/foundation/foundation.placeholder.js"></script>

        <script src="javascripts/foundation/foundation.reveal.js"></script>

        <script src="javascripts/foundation/foundation.section.js"></script>

        <script src="javascripts/foundation/foundation.tooltips.js"></script>

        <script src="javascripts/foundation/foundation.topbar.js"></script>


        
        <script>
            $(document).foundation();
            $(document).foundation('reveal', {animation: 'fade', animationSpeed: 600});
            

            $(document).ready(function() {
                
                // register form handler
                $( "#reg_form" ).submit(function(event) {
                      // Stop form from submitting normally
                       event.preventDefault();
                       //ajax request, show modal if form is posted successfully
                       $.post( "/mail_to", $("#reg_form").serialize(), function(data) {
                            $('#reg_modal').foundation('reveal', 'open');
                       });       
                });

                // intizialize content area from building_html div and enable left/right arrows
                var new_contents = $('#building_html').contents();
                $(".content-area").append(new_contents);
                $(".content-area > .controls").on('click','img.left_arrow', function(event){
                  $(".content-area > .orbit-container > .orbit-prev").trigger( "click" );
                });
                $(".content-area > .controls").on('click','img.right_arrow', function(event){
                  $(".content-area > .orbit-container > .orbit-next").trigger( "click" );
                });  
               
                //move orbit bullets to after the slideshow arrows
                //$(".content-area > .orbit-container > .orbit-bullets").insertAfter((".content-area > .controls"));
                $(".content-area > .orbit-container > .orbit-bullets").insertAfter((".content-area > img.cent.white-border"));

               //resize orbit-container to fit slideshow contents
                if ($('.orbit-container ul').height() === 0) {
                        console.log("height is zero")
                        $(window).trigger('resize');
                        //$('.orbit-container ul').height(360);
                }

                //handlers for sub links
                $("#residences").click(function(event) {
                 	  if ($(event.currentTarget).hasClass("opened")){
                 	    $("#rez_sub").slideUp("slow", function() {
                 	    	$(event.currentTarget).removeClass("opened");
                 	    });
                 	  }
                 	  else{
                      $("#rez_sub").slideDown("slow", function() {
                      	$(event.currentTarget).addClass("opened");
                      });
                 	  }
                });
                $("#amenities").click(function(event) {
                 	  if ($(event.currentTarget).hasClass("opened")){
                 	    $("#amen_sub").slideUp("slow", function() {
                 	    	$(event.currentTarget).removeClass("opened");
                 	    });
                 	  }
                 	  else{
                      $("#amen_sub").slideDown("slow", function() {
                      	$(event.currentTarget).addClass("opened");
                      });
                 	  }
                });

            // $("a[data-lightbox]").click(function(e){
            //     setTimeout(function(){ $("lb-").height($(".content-area").height()+40); },100);
            //     });

                //click handler for sidebar links
                $(".sidebar a").click(function(event){
                    //for hover colors
                    $(".sidebar a").removeClass("chosen");
                	$(event.currentTarget).toggleClass("chosen");

                    var page_divs = ['#building_html', '#rez_html', '#kitchens_html', '#bathrooms_html', '#penthouses_html', '#amenities_html', '#better_living_html', '#open_air_html', '#neigh_html', '#map_html', '#avail_html', '#facts_html', '#team_html', '#press_html', '#contact_html', '#register_html', '#legal_html']

                    // store and pull correct html contents from the hidden divs
                    var empty_div;
                    $.each(page_divs, function(index, value){ 
                          if ($(value).is(':empty')){
                             empty_div = $(value);
                          } 
                    });
                    var current_contents = $(".content-area").contents();
                    empty_div.append(current_contents);
                    var id_to_render = $(event.currentTarget).attr("renders-this");
                    var new_contents = $(id_to_render).contents();    
                    $(".content-area").empty().append(new_contents);

                    //resize everything div to fit contents (why doesnt this shrink?)
                    //setTimeout(function(){ $(".everything").height($(".content-area").height()+40); },100);

                    //collapse on click for map accordion
                    $(".map-accordion").on('click', 'a.close-accordion-hack', function(event){
                    if($(event.currentTarget).parent().parent().hasClass('active')){
                        window.setTimeout(function(){
                        $(event.currentTarget).parent().parent().removeClass('active')
                     }, 100);
                    }
                    });  

                    $(".content-area > .controls").on('click','img.left_arrow', function(event){
                      $(".content-area > .orbit-container > .orbit-prev").trigger( "click" );
                      $(".content-area > .orbit-container > .orbit-bullets").insertAfter((".content-area > img.cent.white-border"));

                    });
                    $(".content-area > .controls").on('click','img.right_arrow', function(event){
                      $(".content-area > .orbit-container > .orbit-next").trigger( "click" );
                      $(".content-area > .orbit-container > .orbit-bullets").insertAfter((".content-area > img.cent.white-border"));

                    });     

                    //$(".content-area > .orbit-container > .orbit-bullets").insertAfter((".content-area > .controls"));
                    $(".content-area > .orbit-container > .orbit-bullets").insertAfter((".content-area > img.cent.white-border"));

                });



                $('.sidebar a, .logo').on('click', function() {
                    setTimeout(function() {
                        if ($('.orbit-container ul').height() === 0) {
                            console.log("height is zero");
                            $(window).trigger('resize');
                            //$('.orbit-container ul').height(360);

                            console.log('asdfasdf');
                        }
                    }, 1);
                });


            });
        </script>
    </body>
</html>
